<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/estilosReg.css">
      </head>
<body>
    <header class="header">
        <%- include("../partials/navBar") %>
    </header>
    <main>
    <div class="create-div">
    <form method="POST" class="create" enctype="multipart/form-data">
            <h3>Editando usuario: <%=users.name%> - ID número: <%= users.id %></h3>
            <h3>Nombre y apellido</h3>
            <input type="text" name="name" id="nombre" value="<%=users.name%>">
            <input type="text" name="surname" id="apellido" value="<%=users.surname%>">
            <input type="email" name="email" id="email" value="<% users.email %>" readonly>
            <h3>Direccion</h3>
            <input type="text" name="direction". id="direccion" value="<%=users.direction%>">
            <h3>Categoria</h3>
            <select name="category" id="categoria">
                    <option>1</option>
                    <option>2</option>
            </select>
            <div>
            <h3>Seleccionar avatar</h3>
            <div>
            <label for="avatar">Seleccionar avatar</label>
            <input type="file" id="avatar" name="avatar">
            </div>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
</form>
</div>
</main>
<footer class="footer">
    <%- include("../partials/footer") %>
  </footer>
  </body>
  <%- include("../partials/scripts") %>
  </html>