<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/estilosReg.css">
      </head>
<body>
    <header class="header">
        <%- include("../partials/navBar") %>
    </header>
    <main>
    <div class="create-div">
        <% users.forEach(function(tint) { %>
            <% if (tint.id == idUser) { %>
    <form method="POST" action="<%= tint.id %>" class="create" enctype="multipart/form-data">
            <h3>Editando producto: <%=tint.name%> - ID número: <%= tint.id %></h3>
            <h3>Nombre y apellido</h3>
            <input type="text" name="nombre" id="nombre" value="<%=tint.nombre%>">
            <input type="text" name="apellido" id="apellido" value="<%=tint.apellido%>">
            <h3>Direccion</h3>
            <input type="text" name="direccion". id="direccion" value="<%=tint.direccion%>">
            <h3>Categoria</h3>
            <select name="categoria" id="categoria">
                    <option>admin</option>
                    <option>COMPRADOR</option>
            </select>
            <div>
            <h3>Seleccionar avatar</h3>
            <div>
            <label for="avatar">Seleccionar avatar</label>
            <input type="file" id="avatar" name="avatar">
            </div>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </div>
</form>
<% } %>
<% }) %>
</div>
</main>
<footer class="footer">
    <%- include("../partials/footer") %>
  </footer>
  </body>
  <%- include("../partials/scripts") %>
  </html>