<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/estilosReg.css">
      </head>
<body>
    <header class="header">
        <%- include("../partials/navBar") %>
    </header>
    <main>
    <div class="profile-user">
        <div class="profile-info-div">
            <div class="profile-info-img">
                <img src="/images/avatar/<%= user.image %>" alt="">
            </div>
            <div class="profile-info-h3">
                <h3>Información del usuario</h3>
                <div class="profile-info-data">
                    <table class="profile-info-table">
                        <tbody>
                                <tr>
                                    <th><li>Nombre y apellido</li></th>
                                    <td><li><%= user.name %> <%= user.surname %></li></td>
                                </tr>
                                <tr>
                                    <th><li>Dirección</li></th>
                                    <td><li><%= user.direction %></li></td>
                                </tr>
                                <tr>
                                    <th><li>Email </li></th>
                                    <td><li><%= user.email %></li></td>
                                </tr>
                                <tr>
                                    <th><li>Provincia</li></th>
                                    <td><li><%= user.provincias.provincia %></li></td>
                                </tr>
                                <tr>
                                    <th><li>Categoria</li></th>
                                    <% if (user.id_categories === 1) { %>
                                        <td><li>Admin</li></td>
                                    <% } else { %>
                                        <td><li>Comprador</li></td>
                                    <% } %>
                                </tr>
                            </tbody>
                        </table>
        </div>
        </div>
    </div>
 </div>
</main>
<footer class="footer">
    <%- include("../partials/footer") %>
  </footer>
  </body>
  <%- include("../partials/scripts") %>
  </html>