<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head") %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
  <header class="header">
  <%- include("../partials/navBar") %>
  </header>
    <main>
    <div class="profile-user">
      <div class="profile-info-div">
          <div class="profile-info-img">
              <img src="/images/avatar/<%= usuario.image %>" alt="">
          </div>
          <div class="profile-info-h3">
              <h3>Información del usuario</h3>
              <div class="profile-info-data">
                  <table class="profile-info-table">
                      <tbody>
                              <tr>
                                  <th><li>Nombre y apellido</li></th>
                                  <td><li><%= usuario.name %> <%= usuario.surname %></li></td>
                              </tr>
                              <tr>
                                  <th><li>Dirección</li></th>
                                  <td><li><%= usuario.direction %></li></td>
                              </tr>
                              <tr>
                                  <th><li>Email </li></th>
                                  <td><li><%= usuario.email %></li></td>
                              </tr>
                              <tr>
                                  <th><li>Provincia </li></th>
                                  <td><li><%= usuario.provincia %></li></td>
                              </tr>
                          </tbody>
                      </table>
      </div>
      </div>
  </div>
</div>
  </main>
  <footer class="footer">
    <%- include("../partials/footer") %>
</footer>
  </body>
  <%- include("../partials/scripts") %>

</html>