<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <header class="header">
        <%- include("./partials/navBar") %>
    </header>
<main class="main-vinos">
<section class="section-vinos">
    <div class="sect-search" id="sect-search-main">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" name="search" id="search" placeholder="Encontrá lo que estas buscando">
        <button class="btn btn-outline-light" type="submit">Búscar</button>
    </div>
    <h2 class="vin-tipos-title">Vino Tinto</h2>
    <div class="vin-tipos">
        <% tinto.forEach(function(tint) { %>      
        <% if (tint.tipo === "Tinto") { %>
        <div class="vin-prod">
            <div class="vin-img">
                <img src=/images/<%=tint.imagen%> alt="">
            </div>
            <div class="vin-text">
                <h4><%=tint.name%></h4>
                <div>
                    <a href="#<%=tint.collapse%>" class="btn" role="button" data-bs-toggle="collapse" aria-controls="<%=tint.collapse%>" aria-expanded="false">Descripción</a>
                    <a href="carrito" class="btn"><i class="fa-solid fa-plus"></i>  Agregar</a>
                </div>
                    <div class="div-collapse collapse" id="<%=tint.collapse%>">
                        <div class="div--colapse">
                        <p>Tamaño: <%=tint.tamaño%> </p>
                        <p>Precio: <%=tint.precio%> </p>
                        <a class="vin-butt" href="vinos" target="_blank">Más información</a>
                    </div>
                    </div>
            </div>
            </div>
            <% } %>
            <% }); %>
        </div>
        <h2 class="vin-tipos-title">Vino Blanco</h2>
        <div class="vin-tipos">
            <% tinto.forEach(function(tint) { %>      
            <% if (tint.tipo === "Blanco") { %>
            <div class="vin-prod">
                <div class="vin-img">
                    <img src=/images/<%=tint.imagen%> alt="">
                </div>
                <div class="vin-text">
                    <h4><%=tint.name%></h4>
                    <div>
                        <a href="#<%=tint.collapse%>" class="btn" role="button" data-bs-toggle="collapse" aria-controls="<%=tint.collapse%>" aria-expanded="false">Descripción</a>
                        <a href="carrito" class="btn"><i class="fa-solid fa-plus"></i>  Agregar</a>
                    </div>
                        <div class="div-collapse collapse" id="<%=tint.collapse%>">
                            <div class="div--colapse">
                            <p>Tamaño: <%=tint.tamaño%></p>
                            <% if (tint.oferta === "true") { %>
                                <p>Precio:$ <%= tint.precio-(tint.precio * (tint.descuento/100))%></p>
                            <% } else {%> 
                                <p>Precio:$ <%=tint.precio%></p>
                            <% } %> 
                            <a class="vin-butt" href="vinos" target="_blank">Más información</a>
                        </div>
                        </div>
                </div>
                </div>
                <% } %>
                <% }); %>
            </div>
            <h2 class="vin-tipos-title">Vino Rosado</h2>
        <div class="vin-tipos">
            <% tinto.forEach(function(tint) { %>      
            <% if (tint.tipo === "Rosado") { %>
            <div class="vin-prod">
                <div class="vin-img">
                    <img src=/images/<%=tint.imagen%> alt="">
                </div>
                <div class="vin-text">
                    <h4><%=tint.name%></h4>
                    <div>
                        <a href="#<%=tint.collapse%>" class="btn" role="button" data-bs-toggle="collapse" aria-controls="<%=tint.collapse%>" aria-expanded="false">Descripción</a>
                        <a href="carrito" class="btn"><i class="fa-solid fa-plus"></i>  Agregar</a>
                    </div>
                        <div class="div-collapse collapse" id="<%=tint.collapse%>">
                            <div class="div--colapse">
                            <p>Tamaño: <%=tint.tamaño%></p>
                            <% if (tint.oferta === "true") { %>
                                <p>Precio:$ <%= tint.precio-(tint.precio * (tint.descuento/100))%></p>
                            <% } else {%> 
                                <p>Precio:$ <%=tint.precio%></p>
                            <% } %> 
                            <a class="vin-butt" href="vinos" target="_blank">Más información</a>
                        </div>
                        </div>
                </div>
                </div>
                <% } %>
                <% }); %>
            </div>
</section>
</main>
<footer class="footer">
    <%- include("./partials/footer") %>
</footer>
</body>
<!-- BOOTSTRAP JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>