<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <header class="header">
        <%- include("./partials/navBar") %>
        </header>
<main>
    <section class="productos-detail">
        <% tinto.forEach(function(tint) { %>
            <% if (tint.id == idProd) { %>
             
        <div class="prod-detail">
            <div class="prod-detail-img">
                <img src="/images/<%=tint.imagen%>" alt="">
            </div>
            <div class="prod-detail-info">
                <div class="prod-detail-title">
                    <h2 class="prod-detail-h2"><%=tint.name%> </h2>
                    <div class="prod-detail-caract">
                        <div class="prod-detail-ul">
                            <h3>Alcohol: <%=tint.alcohol%>%</h3>
                        </div>
                    </div>
                </div>
                <div class="prod-detail-descr">
                    <h4 class="prod-detail-h4">Información</h4>
                    <ul class="prod-detail-ul-2">
                        <li><b>Color:</b> <%=tint.color%> </li>
                        <li><b>Bodega:</b> <%=tint.bodega%></li>
                        <li><b>Tipo:</b> <%=tint.tipo%></li>
                        <li>Hasta 3 cuotas sin interés <i class="fa-solid fa-credit-card"></i></li>
                    </ul>
                </div>
                <div class="prod-detail-buttons">
                    <a href="../carrito" class="prod-detail-butt">Añadir a carrito</a>
                    <a href="../detalleProducto" class="prod-detail-butt">Ver otros vinos</a>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
    </section>
</main>
<footer class="footer">
    <%- include("./partials/footer") %>
</footer>
</body>
<!-- BOOTSTRAP JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>