<!DOCTYPE html>
<html lang="es">
<head>

  <%- include("../partials/head") %>
  <link rel="stylesheet" href="/css/estilosReg.css">
</head>
<body>
  <header class="header">
    <%- include("../partials/navBar") %>
</header>
<!-- Formulario -->
<main class="formulario-main">
<div class="contenedor-formulario">
  <div class="wrap">
    <form class="formulario" name="formulario-registro" method="post" action="/users/register" enctype="multipart/form-data">
    <div class="conteiner-general-regist">
        <div class="general">
            <label class="label" for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>">
            <% if (locals.errores && errores.nombre) { %>
              <p class="msg-error"><%= errores.nombre.msg%></p>
            <% } %>
        </div>

        <div class="general">
            <label class="label" for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" value="<%= locals.old && old.apellido ? old.apellido : '' %>">
            <% if (locals.errores && errores.apellido) { %>
              <p class="msg-error"> <%= errores.apellido.msg%></p>
            <% } %>
        </div>
        <div class="general">
            <label class="label" for="direccion">Dirección</label>
            <input type="text" id="direccion" name="direccion" value="<%= locals.old && old.direccion ? old.direccion : '' %>" >
            <% if (locals.errores && errores.direccion) { %>
              <p class="msg-error"> <%= errores.direccion.msg%></p>
            <% } %>
        </div>
        <div class="general">
            <label class="label" for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>">
            <% if (locals.errores && errores.email) { %>
              <p class="msg-error"> <%= errores.email.msg%></p>
            <% } %>
        </div>
        <div class="general">
            <label class="label" for="pass">Contraseña</label>
            <input type="password" id="pass" name="contrasena">
            <% if (locals.errores && errores.contrasena) { %>
              <p class="msg-error"> <%= errores.contrasena.msg%></p>
            <% } %>
        <div class="general">
          <input type="file" id="avatar" name="avatar">
      </div>
        <div class="checkbox">
            <div>
            <input type="checkbox" id="mayor-edad" name="mayor-edad" value="true">
            <label for="mayor-edad">Soy mayor de 18</label>
            </div>
            <input type="submit" id="boton" value="Registrarse">
        </div>
    </div>
    <p>¿Ya eres miembro? <a href= "login">Inicia Sesión</a></p>
  </div>  
</form>
</div>
</main>

<footer class="footer">
  <%- include("../partials/footer") %>
</footer>
<script src="js/formulario-registro.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<!-- BOOTSTRAP JS -->
</html>